[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.4.4"
stellar-base = {git = "https://github.com/StellarCN/py-stellar-base.git", ref = "191845bae47bb20158ebba25c9f79e1e0f367cfa"}

[dev-packages]
black = "==18.6b4"

[requires]
python_version = "3.7"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
